<div id="card">
    <div class="image left">
      <img
        src={{this.post.image}}
      />
    </div>
    <br />
    <p></p>
    <br />
    <ul class="list-group">
      <li class="list-group-item">Title of the post: {{this.post.title }}</li>
      <li class="list-group-item">Description: {{this.post.description }}</li>
      <li class="list-group-item">Posted by : {{this.post.owner }}</li>
      <li class="list-group-item">Avrage Salary: {{this.post.salary }}</li>
      <li class="list-group-item">Contact us: {{this.post.contact }}</li>
    </ul>
  </div>
